.app {
  display: flex;
  min-height: 700px;
  position: relative;
  flex-direction: column;
  color: #ffffff;
}

body h2,
body h1 body a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  line-height: 1em;
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
